#main
	form#ipsum
		p Number of Paragraphs? 
			select.styled#numParagraphs
				- var items = [1, 2, 3, 4, 5]
				each item in items
					- if (item === 2)
						option(value= #{item}, selected='selected') #{item}
					- else
						option(value= #{item}) #{item}
		p EXTERMINATE! Multiplier? 
			select.styled#exterminateMultiplier
				- var items = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
				each item in items
					- if (item === 1)
						option(value= #{item}, selected='selected') #{item}
					- else
						option(value= #{item}) #{item}
		p EXTERMINATE! the p tags?
			input#exterminatePTags(type='checkbox')			
		p 
			a.button(id='generate') GENERATE!
		p			
			textarea#ipsumText #{phrases}
		p
			a(href='/submit') Have a phrase to suggest?
script(src='javascripts/index.js')