!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/lib/modernizr-2.0.6.js')
    script(src='/javascripts/lib/jquery-1.7.min.js')
  nav
    .centered
      p 
        a(href="/") Yet Another Lorem Ipsum Clone
      ul#links
        li: a(href="http://www.twitter.com/brandonsatrom") Created by @BrandonSatrom
        |
        li: a(href="/submit")	Suggest a Phrase		
  header
    hgroup
      h1= title
      h2= subtitle 
      // AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style
        a.addthis_counter()
      script(src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ebc827a252c26d6")
  #silhouette
  #wrap
    body!= body
  footer
    .centered
      p Copyright &copy; 2011 Brandon Satrom :: Carrot Pants Studios
      ul#links
        li: a(href="http://www.twitter.com/brandonsatrom") @BrandonSatrom
        |
        li: a(href="http://www.userinexperience.com") Blog
        |
        li: a(href="mailto:bsatrom@gmail.com") Contact
      p 
        a(href="http://dribbble.com/shots/175399-Exterminate-Wallpaper") Dalek Background
        |	created by 
        a(href="http://dribbble.com/dwiskus") Dave Wiskus
      p This site was built using 
        a(href="http://nodejs.org") Node.js #{process.version} 
        | with 
        a(href="http://expressjs.com") Express
        |,
        a(href="http://jade-lang.com") Jade 
        | and 
        a(href="http://coffeescript.org") CoffeeScript 
        | and is running on
        a(href="http://heroku.com") Heroku	
  script(src='javascripts/all.js')
  script(type='text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2061518-8']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();